<a href="https://colab.research.google.com/github/shivendra1-cyber/PfizerExpermentAnalysis/blob/main/Pandas4_PfizerExperimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://colab.research.google.com/drive/1gobDwa7mCF593qcfwArYsNgLro3SWds4?usp=sharing

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: /content/Pfizer_1.csv
100% 1.51k/1.51k [00:00<00:00, 1.85MB/s]

In [ ]:
data = pd.read_csv("Pfizer_1.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [ ]:
data.head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

In [ ]:
data.shape

(18, 15)

In [ ]:
data_melt = pd.melt(data, id_vars=["Date", "Parameter", "Drug_Name"],
        var_name = "time",
        value_name = "reading")
data_melt

           Date    Parameter                Drug_Name      time  reading
0    15-10-2020  Temperature  diltiazem hydrochloride   1:30:00     23.0
1    15-10-2020     Pressure  diltiazem hydrochloride   1:30:00     12.0
2    15-10-2020  Temperature      docetaxel injection   1:30:00      NaN
3    15-10-2020     Pressure      docetaxel injection   1:30:00      NaN
4    15-10-2020  Temperature   ketamine hydrochloride   1:30:00     24.0
..          ...          ...                      ...       ...      ...
211  17-10-2020     Pressure  diltiazem hydrochloride  12:30:00     14.0
212  17-10-2020  Temperature      docetaxel injection  12:30:00     23.0
213  17-10-2020     Pressure      docetaxel injection  12:30:00     28.0
214  17-10-2020  Temperature   ketamine hydrochloride  12:30:00     24.0
215  17-10-2020     Pressure   ketamine hydrochloride  12:30:00     15.0

[216 rows x 5 columns]

In [ ]:
data_og = data_melt.pivot(index=["Date", "Drug_Name", "Parameter"],
                columns="time",
                values="reading").reset_index()
data_og

time,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [ ]:
data_og.columns.name = None

In [ ]:
data_og

,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [ ]:
data_melt

           Date    Parameter                Drug_Name      time  reading
0    15-10-2020  Temperature  diltiazem hydrochloride   1:30:00     23.0
1    15-10-2020     Pressure  diltiazem hydrochloride   1:30:00     12.0
2    15-10-2020  Temperature      docetaxel injection   1:30:00      NaN
3    15-10-2020     Pressure      docetaxel injection   1:30:00      NaN
4    15-10-2020  Temperature   ketamine hydrochloride   1:30:00     24.0
..          ...          ...                      ...       ...      ...
211  17-10-2020     Pressure  diltiazem hydrochloride  12:30:00     14.0
212  17-10-2020  Temperature      docetaxel injection  12:30:00     23.0
213  17-10-2020     Pressure      docetaxel injection  12:30:00     28.0
214  17-10-2020  Temperature   ketamine hydrochloride  12:30:00     24.0
215  17-10-2020     Pressure   ketamine hydrochloride  12:30:00     15.0

[216 rows x 5 columns]

In [ ]:
data_tidy = data_melt.pivot(index=["Date", "Drug_Name", "time"],
                columns="Parameter",
                values="reading").reset_index()
data_tidy

Parameter,Date,Drug_Name,time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [ ]:
# How to handle the missing values?

In [ ]:
data_tidy.tail()

Parameter        Date               Drug_Name     time  Pressure  Temperature
103        17-10-2020  ketamine hydrochloride  5:30:00      11.0         17.0
104        17-10-2020  ketamine hydrochloride  6:30:00      12.0         18.0
105        17-10-2020  ketamine hydrochloride  7:30:00      12.0         19.0
106        17-10-2020  ketamine hydrochloride  8:30:00      11.0         20.0
107        17-10-2020  ketamine hydrochloride  9:30:00      12.0         21.0

In [ ]:
data_tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         108 non-null    object
 1   Drug_Name    108 non-null    object
 2   time         108 non-null    object
 3   Pressure     95 non-null     float64
 4   Temperature  95 non-null     float64
dtypes: float64(2), object(3)
memory usage: 4.3+ KB

In [ ]:
# None, NaN

In [ ]:
type(None)

NoneType

In [ ]:
type(np.nan)

float

In [ ]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [ ]:
pd.Series(["1", "np.nan", "2", None, np.nan])

0         1
1    np.nan
2         2
3      None
4       NaN
dtype: object

In [ ]:
data.isna()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
5,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [ ]:
pd.isnull

In [ ]:
pd.isna

In [ ]:
data["2:30:00"]

0     22.0
1     13.0
2     17.0
3     22.0
4      NaN
5      NaN
6     35.0
7     19.0
8     47.0
9     24.0
10     9.0
11    12.0
12    19.0
13     4.0
14    13.0
15    22.0
16    14.0
17     9.0
Name: 2:30:00, dtype: float64

In [ ]:
# Fill missing values with some placeholder - 0, vvvvvv high value, something else
data["2:30:00"].fillna(0)

0     22.0
1     13.0
2     17.0
3     22.0
4      0.0
5      0.0
6     35.0
7     19.0
8     47.0
9     24.0
10     9.0
11    12.0
12    19.0
13     4.0
14    13.0
15    22.0
16    14.0
17     9.0
Name: 2:30:00, dtype: float64

In [ ]:
# Filling in with some estimate - mean, median
data["2:30:00"].fillna(data["2:30:00"].mean())

0     22.0000
1     13.0000
2     17.0000
3     22.0000
4     18.8125
5     18.8125
6     35.0000
7     19.0000
8     47.0000
9     24.0000
10     9.0000
11    12.0000
12    19.0000
13     4.0000
14    13.0000
15    22.0000
16    14.0000
17     9.0000
Name: 2:30:00, dtype: float64

In [ ]:
data_tidy.groupby("Drug_Name")["Temperature"].mean()

Drug_Name
diltiazem hydrochloride    24.848485
docetaxel injection        30.387097
ketamine hydrochloride     17.709677
Name: Temperature, dtype: float64

In [ ]:
data_tidy.groupby("Drug_Name")["Pressure"].mean()

Drug_Name
diltiazem hydrochloride    15.424242
docetaxel injection        25.483871
ketamine hydrochloride     11.935484
Name: Pressure, dtype: float64

In [ ]:
def mean_temp(x):
  x["Avg_Temperature"] = x["Temperature"].mean()
  return x

data_tidy = data_tidy.groupby("Drug_Name").apply(mean_temp)

In [ ]:
data_tidy.isna().sum()

Parameter
Date                0
Drug_Name           0
time                0
Pressure           13
Temperature        13
Avg_Temperature     0
dtype: int64

In [ ]:
data_tidy

Parameter,Date,Drug_Name,time,Pressure,Temperature,Avg_Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677

In [ ]:
data_tidy["Temperature"][:20]

0     20.0
1     20.0
2     21.0
3     23.0
4     22.0
5      NaN
6     21.0
7     21.0
8     22.0
9     23.0
10    21.0
11    22.0
12    23.0
13    25.0
14    25.0
15     NaN
16    17.0
17    18.0
18     NaN
19    17.0
Name: Temperature, dtype: float64

In [ ]:
data_tidy["Temperature"].fillna(data_tidy["Avg_Temperature"])[:20]

0     20.000000
1     20.000000
2     21.000000
3     23.000000
4     22.000000
5     24.848485
6     21.000000
7     21.000000
8     22.000000
9     23.000000
10    21.000000
11    22.000000
12    23.000000
13    25.000000
14    25.000000
15    30.387097
16    17.000000
17    18.000000
18    30.387097
19    17.000000
Name: Temperature, dtype: float64

In [ ]:
data_tidy

Parameter,Date,Drug_Name,time,Pressure,Temperature,Avg_Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677

In [ ]:
# 5-20 --> low
# 20-35 --> medium
# 35-50 --> high
# 50-60 --> very high

In [ ]:
temp_points = [5, 20, 35, 50, 60]
temp_labels = ["low", "medium", "high", "very_high"]
pd.cut(data_tidy["Temperature"], bins=temp_points, labels=temp_labels)

0         low
1         low
2      medium
3      medium
4      medium
        ...
103       low
104       low
105       low
106       low
107    medium
Name: Temperature, Length: 108, dtype: category
Categories (4, object): ['low' < 'medium' < 'high' < 'very_high']

In [ ]:
# string methods, datetime datadtype --> Notes

In [ ]:
# Find all the rows whose drug name has substring "hydrochloric"

In [ ]:
data_tidy.loc[data_tidy["Drug_Name"].str.contains("hydrochloride")]

Parameter,Date,Drug_Name,time,Pressure,Temperature,Avg_Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677

In [ ]:
data_tidy["Drug_Name"].str

In [ ]:
data_tidy["Date"].str.split("-").apply(lambda x:x[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [ ]:
data_tidy["timestamp"] = data_tidy["Date"] + " " + data_tidy["time"] # timestamp

In [ ]:
data_tidy.head()

Parameter,Date,Drug_Name,time,Pressure,Temperature,Avg_Temperature,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15-10-2020 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15-10-2020 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15-10-2020 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15-10-2020 1:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15-10-2020 2:30:00

In [ ]:
data_tidy.drop(["Date", "time", "Avg_Temperature"], inplace=True, axis=1)

In [ ]:
data_tidy.head()

Parameter                Drug_Name  Pressure  Temperature            timestamp
0          diltiazem hydrochloride      18.0         20.0  15-10-2020 10:30:00
1          diltiazem hydrochloride      19.0         20.0  15-10-2020 11:30:00
2          diltiazem hydrochloride      20.0         21.0  15-10-2020 12:30:00
3          diltiazem hydrochloride      12.0         23.0   15-10-2020 1:30:00
4          diltiazem hydrochloride      13.0         22.0   15-10-2020 2:30:00

In [ ]:
data_tidy["timestamp"] = pd.to_datetime(data_tidy["timestamp"])

In [ ]:
data_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drug_Name    108 non-null    object
 1   Pressure     95 non-null     float64
 2   Temperature  95 non-null     float64
 3   timestamp    108 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 8.3+ KB

In [ ]:
ts = data_tidy["timestamp"][0]
ts

Timestamp('2020-10-15 10:30:00')

In [ ]:
ts.year

2020

In [ ]:
ts.month

10

In [ ]:
ts.day

15

In [ ]:
ts.month_name()

'October'

In [ ]:
ts.dayofweek

3

In [ ]:
ts.day_name()

'Thursday'

In [ ]:
ts.minute

30

In [ ]:
ts.hour

10

In [ ]:
data_tidy["timestamp"].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: timestamp, Length: 108, dtype: int64

In [ ]:
data_tidy["timestamp"].dt.month

0      10
1      10
2      10
3      10
4      10
       ..
103    10
104    10
105    10
106    10
107    10
Name: timestamp, Length: 108, dtype: int64

In [ ]:
data_tidy["timestamp"].dt.month_name()

0      October
1      October
2      October
3      October
4      October
        ...
103    October
104    October
105    October
106    October
107    October
Name: timestamp, Length: 108, dtype: object

In [ ]:
data_tidy["timestamp"][0].strftime("%Y")

'2020'

In [ ]:
data_tidy["timestamp"][0].strftime("%m")

'10'

In [ ]:
data_tidy["timestamp"][0].strftime("%d")

'15'

In [ ]:
data_tidy["timestamp"][0].strftime("%H")

'10'

In [ ]:
data_tidy["timestamp"][0].strftime("%M")

'30'

In [ ]:
data_tidy["timestamp"][0].strftime("%S")

'00'

In [ ]:
data_tidy["timestamp"][0].strftime("%m-%Y")

'10-2020'

In [ ]:
data_tidy["timestamp"][0] - data_tidy["timestamp"][1]

Timedelta('-1 days +23:00:00')

In [ ]:
data_tidy["timestamp"].dt.strftime("%m-%Y")

0      10-2020
1      10-2020
2      10-2020
3      10-2020
4      10-2020
        ...
103    10-2020
104    10-2020
105    10-2020
106    10-2020
107    10-2020
Name: timestamp, Length: 108, dtype: object